#bvd{
    position:relative;
    margin-top: 120px;
    top:13px;
    margin-left:610px;
}

li{
    list-style-type: none;
}
#topdash{
    
    padding: 6px 0px 0px 0px;
    width: 100%;
    
}
#topdash li{
    list-style: none;
    position: relative;
    display: inline-block;
    padding-left:15px;
}


/* #menu{
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: -1px;
    right: 20px;
} */
#subm{
    display: none;
}
#menu:hover #subm{
    display: block;
}

#chat{
    position: relative;
    top: 300px;
    left: 990px;
    
}

#cpe{
    position: relative;
    top: 400px;
    left: 925px;
    
}
a{
    position: relative;
    text-decoration: none;
}

#re,#ap,#fi{
    display: inline-block;
   
}
#re{

    position: relative;
    background-color:#e1effa;
    left: -20px;
    border-radius: 25px;
    padding: 20px;
    width: 180px;
    height: 60px;
    box-shadow: -2px 3px 9px rgba(0, 0, 0, 0.25);
}
#ap {
    position: relative;
    background-color:#e1effa;
    border-radius: 25px;
    padding: 20px;
    width: 180px;
    height: 60px;
    box-shadow: -2px 3px 9px rgba(0, 0, 0, 0.25);
}
#fi {
    position: relative;
    background-color:#e1effa;
    border-radius: 25px;
    left: 20px;
    padding: 20px;
    width: 180px;
    height: 60px;
    box-shadow: -2px 3px 9px rgba(0, 0, 0, 0.25);
}
li p{
    position:relative;
    right:0px;
    top: -25px;
    left: 20px;
}
#meio{
    background-color:#59e068;
    width: 320px;
    height: 180px;
    padding: 20px;
    position: relative;
    left:645px;
    border-radius: 7px;
    margin-top:30px;
    margin-left: -8%;
    
   
    
}
#meio2{
    background: #3994FF;
    width: 320px;
    height: 180px;
    padding: 20px;
    position: relative;
    left:645px;
    border-radius: 7px;
    margin-top:80px;
    margin-left: -8%;
    
   
    
}
@media only screen and (max-width:700px){
    #re,#ap,#fi{
        left: -400px;
        margin-bottom: 20px;
        width:150px;
    }
    #chat{
        left:50px;
    }
    #cpe{
        left:60px;
        top:300px;
    }
    li p{
    
        left:10px;
        margin-bottom: 100px;
    }
    #meio{
        background-color:#59e068;
        width: 280px;
        height: 180px;
        padding: 10px;
        position: relative;
        left:220px;
        top:-100px;
        border-radius: 7px;
        margin-top:40px;
        margin-left: -5%;
        
    }
    #meio2{
        background: #3994FF;
        width: 320px;
        height: 180px;
        padding: 20px;
        position: relative;
        left:220px;
        top:-100px;
        border-radius: 7px;
        margin-top:80px;
        margin-left: -8%;
        
       
        
    }
    footer{
        overflow-x: hidden;
        overflow-y:hidden;
        display: none;
    }
    #imgVetor{
        position:absolute;
        width:100px;
        margin-top: 40px;
        margin-left: 5px;
        
        
    }
    #bvd{
        top:-30px;
        padding:5px;
        left:-600px;
    }
    #plusImg{
        position: relative;
        margin-top: 10px;
        margin-left: -45px;
        
    }
    #tituloOrcamento{
        position:absolute;
        top: 210px;
        left:-350px;
    }
    #menu{
        left:130px;
    }
}