
footer
{
    position: absolute;
    bottom: -10px;
    width: 100%;
    padding-top:0px;
    padding-right: 0;
    padding-left: 1%;
    padding-bottom:0px;
    background: linear-gradient(to  left, rgb(011,073,216), rgb(175,043,248));
    color: white;
    font-size: 10px;
    
    
    
}

footer h1 a{
    text-decoration: none;
    color: white;
    font-size: 14pt;
}

footer div#a{
    display: inline-block;
}

footer div#b{
    display: inline-block;
    
}

footer h1 a{
    text-decoration: none;
    color: white;
    font-size: 14pt;
}

footer div#a{
    display: inline-block;
}

footer div#b{
    display: inline-block;
    
}
footer div{
    display: inline;
}

footer p#a{
    font-size: 14pt;
}

footer div#b{
    display: inline;
}
div#cate{
    text-align: center;
    width: 100%;
    
}
li{
    padding: 1px;
}