@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
body{
    margin: 0%;
    /*font-family: Arial, Helvetica, sans-serif;*/
}
li 
{
    float: left;
}

li.title a
{
    font-family: serif;
    font-size:30px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-left: 20px;
    margin-right: 60px;
    color: rgb(011, 073, 232);
    
}

a{
    color:black;
}
li a   
{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    
}


footer
{

    bottom: -10px;
    padding-top: 10px;
    padding-left: 1%;
    padding-bottom: 10px;
    background: linear-gradient(to  left, rgb(011,073,216), rgb(175,043,248));
    color: white;
    height: 25%;    
    position:relative;
    width: 100%;
    
}

footer h6 a{
    text-decoration: none;
    color: white;
}
main.conteudo
{
    margin-top: 1%;
    margin-bottom: 2%;
}










