body{
    margin-top: 2%;
}

main{
    
    display: block;
    position: fixed;
    margin-left: 50%;
    width: 50%;


}
section{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 8%;
    padding: 6%;
    display: block;
    position: absolute;
    height: 100%;
    background-image: url(../imagens/5556.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 50%;
    display: block;
    margin-top: -2%;
}


form input{
    font-size: 14pt;
    padding: 10pt;
    width: 100%;
    border-radius: 5px;
    border-color: rgb(44, 44, 44);
    border-width: 1px;
    margin-bottom: 20px;
}

form p{
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: -1px;
    text-align: left;
}
form h1{
    font-size: 22pt;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    width: 90%;
    text-align: center;
}
div#links{
    margin-top: 20px;
}
div#links a{
    font-size: 14pt;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1079F4;
}   