nav.navbar
{
    background: linear-gradient(to top, rgb(255, 255, 255), rgb(253, 249, 249));
    padding: 6px 0px 0px 0px;
    display: block;
    position: relative;
    width: 80%;
    
}
.navbar a:hover
{
    color: rgb(214, 79, 231);
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
  li 
{
    float: left;
}

li.title a
{
    font-family: serif;
    font-size: 30pt;
    padding-bottom: 2px;
    margin-left: 20px;
    margin-right: 60px;
    color: rgb(011, 073, 232);
    
}
  
li a   
{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 14pt;
}

button.cadastro {
    display: block;
    background: #2360FE;
    border: 0;
    border-style: groove;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 16pt;
    color: white;
    position:absolute;
    right: 100px;
}
form input#b{
    background-color: rgb(35, 96, 254);
    font-size: 14pt;
    color: #ffffff;
    width: 40%;
    right: 500px;
    border: 0;
}    